__pycache__/
*.py[cod]
*$py.class
**/*.so
!grit/_one_native/linux-x86_64/**
venv/
env/
.venv/
.git/
.gitignore
Dockerfile
docker-compose.yml
README.md
README.txt
*.env
.env
.env.local
logs/
*.log
tests/
*.test.py
*.spec.py
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.bak
*.swp
*.tmp
*.old
node_modules/
coverage/
.coverage
build/
*.egg-info/