{
    "SECRET_KEY": "django-xxxx",
    "DATABASE_PASSWORD": "",
    "OPENAI_API_KEY": "",
    "ANTHROPIC_API_KEY": "",
    "AWS_SES_SMTP_USERNAME": "",
    "AWS_SES_SMTP_PASSWORD": "",
    "STRIPE_SECRET_KEY_PROD": "",
    "STRIPE_SECRET_KEY_DEV": "",
    "STRIPE_WEBHOOK_SECRET_PROD": "",
    "STRIPE_WEBHOOK_SECRET_DEV": ""
}