{% extends 'base_generic.html' %}
{% load app_header %}
{% block nav %}
{% home_header %}
{% endblock %}
{% block content %}
<!-- Start Team -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Start Title -->
  <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">Password Reset Complete</h2>
    <p class="mt-1 text-gray-600">Your password has been set. You can now log in with your new password.</p>
  </div>
  <!-- End Title -->
  <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
    <a href="{% url 'login' %}" class="inline-block bg-primary-600 text-white rounded-lg py-2 px-4 hover:bg-primary-700">Log In</a>
  </div>
</div>
{% endblock %}