{% extends 'base_page.html' %}
{% load app_header %}
{% load vite_tags %}
{% block extra_head %}
{% vite_assets %}
{% endblock %}
{% block nav %}
{% app_header %}
{% endblock %}
{% block content %}
<div class="px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div data-react-component="RecordDetail" 
         data-prop-data-source="object-data"
         data-prop-fieldsets="{{ fieldsets_json }}"
         data-prop-form="{{ form_data_json }}"
         data-prop-inlines="{{ inlines_json }}"
         data-prop-detail-actions="{{ detail_actions_json }}"
         data-prop-model-name="{{ model_name }}"
         data-prop-update-url="{% url model_name_lower|add:'_update' object.id %}"
         data-prop-app-configurations="{{ app_metadata_settings_json }}">
             <!-- Skeleton loader -->
    <div class="w-full animate-pulse">
      <div class="space-y-3">
        <div class="h-12 bg-gray-200 rounded"></div>
        <div class="h-12 bg-gray-200 rounded"></div>
        <div class="h-12 bg-gray-200 rounded"></div>
        <div class="h-12 bg-gray-200 rounded"></div>
        <div class="h-12 bg-gray-200 rounded"></div>
      </div>
    </div>
    <!-- End skeleton loader -->
    </div>
</div>

{{ object_data|json_script:"object-data" }}
{% endblock %}