{% extends "base_generic.html" %}
{% block nav %}
{% include "base_header.html" %}
{% endblock %}
{% block content %}
<div class="overflow-hidden">
  <!-- Title -->
  <div class="mx-auto max-w-2xl mt-12 pt-6 mb-10 lg:mb-14 text-center">
    <h2 class="text-3xl lg:text-4xl text-gray-800 font-bold dark:text-neutral-200">
      Choose the Perfect Subscription Plan for You
    </h2>
  </div>
  <!-- End Title -->
  <div class="relative mx-auto max-w-2xl xl:w-10/12 xl:mx-auto">
    <!-- Grid -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8">
      <div>
        <!-- Card -->
        <div class="p-4 relative z-10 bg-white border rounded-xl md:p-10 dark:bg-neutral-900 dark:border-neutral-800">
          <h3 class="text-xl font-bold text-gray-800 dark:text-neutral-200">Professional</h3>
          <div class="text-sm text-gray-500 dark:text-neutral-500">Everything a small team needs.</div>

          <div class="mt-5">
            <span class="text-6xl font-bold text-gray-800 dark:text-neutral-200">$100</span>
            <span class="text-lg font-bold text-gray-800 dark:text-neutral-200">.00</span>
            <span class="ms-3 text-gray-500 dark:text-neutral-500">USD / monthly</span>
          </div>

          <div class="mt-5 grid sm:grid-cols-2 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
            <!-- List -->
            <ul class="space-y-2 text-sm sm:text-base">
              <li class="flex gap-x-3">
                <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                  <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                </span>
                <span class="text-gray-800 dark:text-neutral-200">
                  Up to 10 people
                </span>
              </li>

              <li class="flex gap-x-3">
                <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                  <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                </span>
                <span class="text-gray-800 dark:text-neutral-200">
                  Collect data
                </span>
              </li>

              <li class="flex gap-x-3">
                <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                  <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                </span>
                <span class="text-gray-800 dark:text-neutral-200">
                  Code extensibility
                </span>
              </li>
            </ul>
            <!-- End List -->

            <!-- List -->
            <ul class="space-y-2 text-sm sm:text-base">
              <li class="flex gap-x-3">
                <span class="size-5 flex justify-center items-center rounded-full bg-gray-50 text-gray-500 dark:bg-neutral-800 dark:text-neutral-500">
                  <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                </span>
                <span class="text-gray-800 dark:text-neutral-200">
                  Custom reports
                </span>
              </li>

              <li class="flex gap-x-3">
                <span class="size-5 flex justify-center items-center rounded-full bg-gray-50 text-gray-500 dark:bg-neutral-800 dark:text-neutral-500">
                  <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                </span>
                <span class="text-gray-800 dark:text-neutral-200">
                  Product support
                </span>
              </li>

              <li class="flex gap-x-3">
                <span class="size-5 flex justify-center items-center rounded-full bg-gray-50 text-gray-500 dark:bg-neutral-800 dark:text-neutral-500">
                  <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                </span>
                <span class="text-gray-800 dark:text-neutral-200">
                  Activity reporting
                </span>
              </li>
            </ul>
            <!-- End List -->
          </div>

          <div class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0">
            <div>
              <p class="text-sm text-gray-500 dark:text-neutral-500">Cancel anytime.</p>
              <p class="text-sm text-gray-500 dark:text-neutral-500">Credit card required.</p>
            </div>

            <div class="flex justify-end">
              <a href="/payments/create-checkout-session">
                <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">Subscribe</button>
              </a>
            </div>
          </div>
        </div>
        <!-- End Card -->
      </div>

      <div>
        <!-- Card -->
        <div class="shadow-xl shadow-gray-200 p-5 relative z-10 bg-white border rounded-xl md:p-10 dark:bg-neutral-900 dark:border-neutral-800 dark:shadow-gray-900/20">
          <h3 class="text-xl font-bold text-gray-800 dark:text-neutral-200">Teams</h3>
          <div class="text-sm text-gray-500 dark:text-neutral-500">For growing businesses.</div>
          <span class="absolute top-0 end-0 rounded-se-xl rounded-es-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-white dark:text-neutral-800">Most popular</span>

          <div class="mt-5">
            <span class="text-6xl font-bold text-gray-800 dark:text-neutral-200">$500</span>
            <span class="text-lg font-bold text-gray-800 dark:text-neutral-200">.00</span>
            <span class="ms-3 text-gray-500 dark:text-neutral-500">USD / monthly</span>
          </div>

          <div class="mt-5 grid sm:grid-cols-2 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
            <!-- List -->
            <ul class="space-y-2 text-sm sm:text-base">
              <li class="flex gap-x-3">
                <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                  <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                </span>
                <span class="text-gray-800 dark:text-neutral-200">
                  Up to 10 people
                </span>
              </li>

              <li class="flex gap-x-3">
                <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                  <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                </span>
                <span class="text-gray-800 dark:text-neutral-200">
                  Collect data
                </span>
              </li>

              <li class="flex gap-x-3">
                <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                  <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                </span>
                <span class="text-gray-800 dark:text-neutral-200">
                  Code extensibility
                </span>
              </li>
            </ul>
            <!-- End List -->

            <!-- List -->
            <ul class="space-y-2 text-sm sm:text-base">
              <li class="flex gap-x-3">
                <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                  <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                </span>
                <span class="text-gray-800 dark:text-neutral-200">
                  Custom reports
                </span>
              </li>

              <li class="flex gap-x-3">
                <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                  <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                </span>
                <span class="text-gray-800 dark:text-neutral-200">
                  Product support
                </span>
              </li>

              <li class="flex gap-x-3">
                <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                  <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                </span>
                <span class="text-gray-800 dark:text-neutral-200">
                  Activity reporting
                </span>
              </li>
            </ul>
            <!-- End List -->
          </div>

          <div class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0">
            <div>
              <p class="text-sm text-gray-500 dark:text-neutral-500">Cancel anytime.</p>
              <p class="text-sm text-gray-500 dark:text-neutral-500">Credit card required.</p>
            </div>

            <div class="flex justify-end">
              <a href="/payments/create-checkout-session">
                <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">Subscribe</button>
              </a>
            </div>
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Grid -->
  </div>
</div>
{% endblock %}