{% extends 'base_generic.html' %}
{% load app_header %}
{% block nav %}
{% home_header %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h3>Reset Instructions Sent</h3>
                    <p>If the email you entered is associated with an account, you will receive instructions to reset your password shortly.</p>
                    <a href="{% url 'index' %}" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}